<div class="row recipe-detail">
  <div class="col-xs-12 col-md-10">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive recipe-detail__image">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>{{ recipe.name }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      appDropdown
      class="btn-group"
    >
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
      >
        Manage
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <button type="button" class="btn-link" (click)="onAddToShoppingList()">Add to shopping list</button>
        </li>
        <li>
          <a href="#">Edit recipe</a>
        </li>
        <li>
          <a href="#">Delete recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Ingredients</h3>
    <ul *ngIf="recipe.ingredients">
      <li *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} ({{ ingredient.amount }})
      </li>

    </ul>
  </div>
</div>
